*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right top,white 20%,rgba(135, 207, 235, 0.482) 80%);
    overflow: auto;
   
}
.nav-bar{
    width: 99%;
    line-height: 4.5vw;
    margin: 10px 7px;
    border-radius: 10px;
    background: rgba(160, 184, 188, 0.475);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2vw;
    position: fixed;
    z-index: 50;
}
.logo{
    display: flex;
}
h3{
    padding-left: 1vw;
    background:linear-gradient(to right,rgba(17, 152, 155, 0.765) ,rgba(0, 128, 0, 0.696),rgba(0, 0, 255, 0.578));
    color: transparent;
    background-clip: text;
}
.menu{
    width: 40%;
    display: flex;
    justify-content: flex-end;
    
}
a{
    text-decoration: none;
    transition: 1s text-decoration;
    padding: 0 1.2vw;
    color: white;
}
a:hover{
    background: rgba(151, 155, 156, 0.475);
}

#logo{
    width: 4vw;
    line-height: 5vw;
}
.box{
    width: 100%;
    height: 12vh;

}
.body{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
#para{

    font-size: 5vw;
    color: rgb(34, 45, 117);
}

#image{
    height: 80vh;
}
@media screen and (max-width:550px) {
    #image{
        width: 300px;
        height: 300px;
    }
}
